@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.logo {
    width: 400px;
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 0.5rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding-top: 3rem;
}

.menu_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}

.menu_item {
    margin-left: 1.5rem;
}

.slider {
    width: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slides {
    width: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 600px;
    position: relative;


}

.slide img {
    width: 600px;
    border-radius: 25px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.manual-navigation {
    position: absolute;
    width: 600px;
    margin-top: 750px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.7s;
    width: 20px;
    height: 7px;
}

.manual-btn:not(:last-child) {
    margin-right: 25px;
}

.manual-btn:hover {
    background-color: #FFFFFF;
}

#radio1:checked~.first {
    margin-left: 0;
    transition: 1s;
}

#radio2:checked~.first {
    margin-left: -100%;
    transition: 1s;
}

#radio3:checked~.first {
    margin-left: -200%;
    transition: 1s;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #FFFFFF;
}

.titulo {
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.tamanhos {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#valorTotal {
    margin-top: 1rem;
    margin-left: 15rem;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

#cor {
    margin-top: 1rem;
    margin-left: 27rem;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: -webkit-center;
    font-weight: lighter;
}

.botaotam {
    background-color: #e7b2a4;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 255px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.botaocor {
    background-color: #0000FF;
    display: flex;
    background-color: blue;
    width: 55px;
    height: 55px;
    border-radius: 255px;
    margin-top: 15rem;
    margin-bottom: 3rem;
    margin-left: 87%;
    cursor: pointer;
}

input {
    width: 30px;
    background-color: #e7b2a4;
}

button {
    width: 60px;
    cursor: pointer;
}

.tam {
    padding-bottom: 5rem;
}

.numeros {
    padding-bottom: 1rem;
}

.numero {
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 255px;
    padding: 15px;
}

.botaototal {
    display: flex;
    background-color: #e7b2a4;
    width: 317px;
    padding: 1.5rem;
    margin-top: 2.5rem;
    border-radius: 30px;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

@media only screen and (max-width: 550px) {

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo {
        width: 150px;
        padding-top: 55px;
    }

    .menu_items {
        padding-top: 1.5rem;
        font-size: 25px;
    }


}